/*Задаём общие параметры для всей страницы: шрифт и отступы*/
body {
  text-align: center;
  line-height: 16px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  margin: 10;
}

img { 
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
}


h1 {
  /* настраиваем внешний вид шрифта */
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  
  /* переводим все буквы в заглавные */
  text-transform: uppercase;
}

p {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.container {
  display: flex; /* Элемент становится блочным flex-контейнером */
}