/*Задаём общие параметры для всей страницы: шрифт и отступы*/
body {
  height: 100%; /* Задаем высоту 100% для html и body */
  margin: 0; /* Убираем стандартные отступы */
  text-align: center;
  line-height: 16px;
  margin: 10;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
}

.container {
  height: 100%; /* Задаем высоту 100% для контейнера */
  display: flex;
  align-items: center;
  justify-content: center;
}

img { 
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
}


h1 {
  /* настраиваем внешний вид шрифта */
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  
  /* переводим все буквы в заглавные */
  text-transform: uppercase;
}

p {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}