/*Задаём общие параметры для всей страницы: шрифт и отступы*/
body {
  text-align: center;
  font-size: 16px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  background-color: #000;
}

#head-text {
	line-height: 8px;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

#gallery {
    max-width: 80%; /* Максимальная ширина контейнера */
    margin: 20px auto; /* Отступы сверху/снизу и авто-отступы по бокам для горизонтального центрирования (дополнительно к flex на body) */
}

/* Стили для изображения внутри галереи */
#gallery img {
    display: block; /* Делаем изображение блочным элементом для работы margin: auto */
    max-width: 100%; /* Изображение не будет шире своего контейнера (#gallery) */
    height: auto; /* Высота подстраивается автоматически для сохранения пропорций */
    margin: 0 auto; /* Центрируем изображение горизонтально внутри #gallery */
}